*{
    margin: 0;
    padding: 0;
}

.container{
  background-color: rgb(9, 9, 9);
  width: 100vw;
  text-align: center;
  color: chartreuse;
  padding: 5px 1px;
  text-align: center
}

.header{
    /* background-color:blue; */
    height: 3.5vh;
    width: 100vw;
    background-color: rgb(242, 3, 3);
  }

.header nav ul{
  color: rgb(9, 9, 9);
  text-align: right;
  margin: 08px;
  padding: 0 40px;
  /* background-color: rgb(18, 18, 19); */
  color: rgb(238, 199, 199);
}

.header nav li{
    display: inline;
    color: rgb(111, 109, 109);
    padding: 0 2px;
    background-color: rgb(240, 233, 233);
    margin: 10px;
    /* text-align:center; */
    text-transform: uppercase;
    font-family:cursive ;
}
/* 
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: chartreuse;
     background-color: rgb(172, 89, 89);
     width: 100vw;
} */

.img{
    background-image: url(pic.jpg);
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(pic.jpg);
    font-family: sans-serif;
    background-size: cover;
    /* color: white; */
  }
  
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .box h2 {
    margin: 0 0 30px;
    padding: 0px;
    color: #fff;
    text-align: center;
  }
  .box .inputBox {
    position: relative;
  }
  .box .inputBox input {
    width: 100%;
    padding: 8px 0;
    font-size: 13px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    outline: none;
    border: none;
    border-bottom: 0.1px solid #fff;
    background: transparent;
  }
  
  .box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .box .inputBox input:focus ~ label,
  .box .inputBox input:valid ~ label {
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
  }
  
  .box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  

footer .foot{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* a{
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 80px;
} */

.box3{
  /* color: chartreuse; */
  height: 4vh;
  width: 13vw;
  background-color: rgb(1, 252, 215);
  color: rgb(11, 11, 10);
  position: relative;
  animation-name: Owais1 ;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  /* animation-timing-function: ease-in-out; */
  /* animation-delay: 2s; */
  animation-direction:alternate;
  /* animation-fill-mode: forwards; */
}

@keyframes Owais1 {
  0%{
      top: 0px;
      left: 0px;
  }
  25%{
      top: 0px;
      left: 250px;
  }
  50%{
      top: 250px;
      left: 250px; 
  }

  75%{
      top: 250px;
      left: 0px;
  }
  100%{
      top: 0px;
      left: 0px;
  }             

}
  
.box2{

    width: 500px;
  background-color: #03a9f4;
  text-align: center;
   animation-name: Owais;
    animation-iteration-count: infinite;
   animation-delay: 1s;
   animation-direction: alternate;
    animation-fill-mode: forwards;
    background-color: rgb(7, 7, 7);
    width: 100vw;
    position: relative;
    height: 6vh;


}


