
*{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.navBar{
    text-align: center !important;
    background-color: black;
    color: white;
    /* margin-top: 1px; */
    margin-bottom: 5px;
    
}
.NAV{
     position: fixed;
    width: 100%;
    z-index: 333;
    top: 0;
}

.nAv{
    display: flex;

    background-color: white;
}

.about{
    margin-left: 30px;
}
.searCh{
    margin-left: 900px;
}
.SRL{
  justify-content: center;
}
.wa{
  /* margin-bottom: 30px; */
  /* height: 100%;
  width: 100%; */
  /* border-radius: 50%; */
  justify-content: center;
}
.logo{
    height: 100%;
    width: 100% !important;
    margin-top: 100px;
}
.Simg1{
    width: 50%;
    height: 100%;
    margin: auto;
}

.ph1{
    margin-top: 50px;
    margin-left: 25px !important;
}
.pp1{
    margin-left: 30px;
}
.pro{
    display: flex;
}
.products{
    margin-top: 50px;
    margin-left: 10%;
    height: 80%;
    width: 80%;
    text-align: center;
}
.cd2{
    margin-left: 30px;
}
.pro2{
    display: flex;
    margin-top: 30px;
}
.form1{
    height: 100%;
    width: 80%;
    margin-left: 50px;
}
.pag{
    margin-top: 20px;
    width: 50%;
    margin-left: 30%;
}
.marquee{
    font-size: 40px;
    font-family:fantasy;
}

/* ABOUT */
.pic4{
    width: 100%;
    height: 100%;
}
.abDiv{
    display: flex;
    font-size: larger;
    margin-top: 125px;
   
}
.ablogo{
    height: 20%;
    width: 20%;
}

/* .products */

.products{
    
    display: flex;
    
    justify-content: space-between;
}

.ph5{
    font-style: italic;
    color: purple;
    text-align: center;
    margin-top: 20px;
   
}
.ph1{
    text-align: center;
}

/* form  */

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
.SCC{
    display: flex;
    justify-content: space-between;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
.CHECKBOX_button{
    margin-left: 30px;
}
.marquee1{
    font-family:monospace;
    color: saddlebrown;
    font-size: 20px;
}
.fa-search{
    font-size: 20px;
    color: black;
    position: absolute;
    right: 20%;
}
.social-box{
    list-style-position: none;
    text-align: center;
    padding: 40px 0;
}
.social-box li{
    display: inline;
    margin: 0 20px;
}
.social-box li i{
    font-size: 30px;
    border: 1px solid #918e8e;
    height: 44px;
    width: 44px;
    text-align: center;
    padding-top: 7px;
    border-radius: 3px;
    transition: 0.5s;
    cursor: pointer;
}
.social-box li .fa-facebook:hover{
    background: blue;
    color: white;
    transition: 0.5s;
}
.social-box li .fa-whatsapp:hover{
    background: rgb(69, 236, 69);
    color: white;
    transition: 0.5s;
}
.social-box li .fa-instagram:hover{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: white;
    transition: 0.5s;
}

.card{
    overflow: hidden;
}
.card-img{
    transition: transform .2s;

}
.card-img:hover{
    transform: scale(1.5); 
}
.card-img-top{  
    transition: transform .2s;
    overflow: hidden;
}
.card-img-top:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
/* form_end  */

/* .AHREF{
    text-decoration: none;
    cursor:context-menu
} */




